body{
    height: 100%;
    margin: 0;
    font-family: Brandon Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: rgb(209, 209, 209);
    font-size: 50px;
    padding: 20px;
    color:rgb(104, 108, 112);
}

.addbutton{
    padding: 20px 25px;
    background-color: #3882F6;
    font-size: large;
    border-radius: 8px;
    border: none;
    margin: 10px;
}

.addbutton:hover{
    background-color: #005ff8;
}

.library{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.card{
    height: 200px;
    width: 150px;
    background-color: rgb(209, 209, 209);
    margin: 25px;
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.submit{
    margin: 10px;
    padding: 15px;
    background-color: #00897B ;
    border: none;
    border-radius: 5px;
}

.cancel{
    margin: 10px;
    padding: 15px;
    background-color: #C62828;
    border: none;
    border-radius: 5px;
}

.submit:hover, .cancel:hover{
    background-color: #3b3b3b ;
}

.readCheck{
    margin-top: 10px;
}

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .container {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fefefe;
    margin: 10px; 
    padding: 25px;
    border: 1px solid #888;
    border-radius: 10px;
  }